/**mobile first styling */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
   font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 5px;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: #555;
  border-radius: 4px;
}
